.premiumContent {
  width: 100%;
  border-top: 1px solid var(--devider);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .premiumStepContent {
    width: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: var(--text-secondary);
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .input {
      width: 280px;

      .centralize {
        text-align: center;
      }

      .centralError {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }

    .congrats {
      color: var(--text-primary);
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-bottom: 24px;
    }
  }
}

.premiumSummary {
  border-top: 1px solid var(--devider);
  padding-top: 26px;
  margin-bottom: 48px;

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  .summaryItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    color: var(--text-secondary);

    .summaryName {
      font-weight: 700;
      color: var(--text-primary);
    }
  }
}

.premiumProfile {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  gap: 16px;

  .userInfo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-primary);
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
}

.subOptions {
  display: flex;
  width: 100%;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;

  .selectedOption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .price {
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
    }

    .duration {
      color: var(--text-tertiary);
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;

      &.hot {
        color: var(--text-secondary);
      }
    }
  }
}

.subscribeModal {
  position: fixed;

  display: flex;
  flex-direction: column;
  padding: 20px 24px 28px 24px;
  width: 472px;
  border-radius: 12px;
  background: var(--background-input);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;

    .userInfo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .details {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        justify-content: center;
        height: 44px;

        .name {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: var(--text-primary);
          font-size: 20px;
          font-weight: 700;
          line-height: 20px;
        }

        .verification {
          color: var(--text-tertiary);
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
        }
      }

    }

    .close {
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/close.svg) no-repeat center;
      mask: url(../../assets/icons/close.svg) no-repeat center;

      &:hover {
        background-color: var(--text-primary);
      }
    }
  }

  .copyButton {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block: 24px;
  }

  .pricePlan {
    border-top: 1px solid var(--devider);
    width: 100%;

    margin-block: 24px;
  }

  .subOptions {
    margin-bottom: 0;
  }
}

.successModal {
  @extend .subscribeModal;

  background-color: var(--success-color-2);

  .close {
    background-color: var(--text-primary-button);
  }

  .header {
    .close {
      background-color: var(--text-primary-button);
    }
    .userInfo {
      .details {
        .verification {
          color: var(--text-primary-button);
        }
      }
    }
  }

  .content {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .successCaption {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      color: var(--text-primary-button);
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
    }

    .successDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 28px;
      margin-bottom: 56px;
      width: 242px;
      color: var(--text-primary-button);
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.premiumHighlights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .premiumHighlightInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 68px;

    .leftSide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 41px;
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 32px;
      margin-top: 24px;
    }
  }

  .pricingSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .price {
      color: var(--text-primary);
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 4px;
    }

    .or {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: var(--text-secondary);
      color: var(--background-site);
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
    }

    .duration {
      color: var(--text-secondary);
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
    }
  }

  .perk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;

    .perkTitle {
      color: var(--text-primary);
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
    }

    .perkItems {
      color: var(--text-secondary);
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 0;

      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.premiumStatusOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11vh;
  width: 100%;

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;

    .userName {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      color: var(--text-primary);
    }
  }

  .membershipDetails {
    display: flex;
    flex-direction: column;
    background-color: var(--background-input);
    width: 352px;
    padding: 12px 16px;
    border-radius: var(--border-radius-big);

    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-block: 12px;
      border-bottom: 1px solid var(--subtile-devider);

      &:last-child {
        border-bottom: none;
      }

      .label {
        color: var(--text-secondary);
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
      }

      .value {
        color: var(--text-primary);
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }

  .changeName {
    display: flex;
    justify-content: center;
    width: 352px;
    margin-top: 24px;

    button {
      color: var(--premium-orange);
    }
  }

  .extendPlan {
    width: 352px;
    margin-top: 42px;
  }
}

.orangeCheck {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(../../assets/icons/orange_check.svg);
  margin-inline: 6px;

  &.small {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

.orangeCheckBig {
  width: 172px;
  height: 164px;
  display: inline-block;
  background-image: url(../../assets/icons/orange_check_big.svg);
  margin-inline: 6px;
  background-size: 172px 164px;
}
